/* o todo do projeto */
*{
  margin: 0;
  padding: 0;
}

/* cor dos links*/
a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

/* hover nos links para estilizacao quando mouse passar em cima */
a:hover{
  opacity: 0.6;
}

/* Adicionar background verde para o navbar da pagina funcional */
.topnav {
  background-color: #58D839;
  overflow: hidden;
}

/* Estilizando os links*/
.topnav a {
position: relative;
color: #f2f2f2;
padding: 35px 20px;
text-align: center;
text-decoration: none;
font-size: 17px;
}

/* mudando a cor dos links quando mouse passa pelos links*/
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* margem da navegacao */
.topnav img{
  margin: 0%; 
}

/*  Add a cor para o link atual */
.topnav a.active {
background-color: #04AA6D;
color: white;
}

/* alinhamento a direita para a secao de navegacao */
.topnav-right {
  margin-top: 1.5rem;
  float: right;
}

/* elementos referentes a logo */
.imagemlogo{
  position: relative;
  width: 284px;
  height: 107px;
  left: -1px;
  top: 0px;
}