/* background de todo o site */
*{
    background-color: black;
}

/* tamanho da imagem do figma */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 143vh; /* opcional: define a altura do conteiner para ocupar toda a altura da tela */
  }
  
  /* tamanho da imagem */
  img {
    max-width: 100%;
    height: auto;
  }

/* botao 'invisivel' para chamar outra pagina */
.desafio{
  opacity: 0;
    position: absolute;
    top: 20px;
    left: 687px;
    width: 120px;
    height: 50px;
    background-color: green;
    color: white;
}

/* botao 'invisivel' para chamar outra pagina */
.apostas{
  opacity: 0;
    position: absolute;
    top: 20px;
    left: 840px;
    width: 120px;
    height: 50px;
    background-color: green;
    color: white;
}

/* botao 'invisivel' para chamar outra pagina */
.perfil{
  opacity: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 50px;
    background-color: green;
    color: white;
}