*{
    background-color: black;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* opcional: define a altura do contêiner para ocupar toda a altura da tela */
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

.button{
    opacity: 0;
    position: absolute;
    top: 414px;
    left: 560px;
    width: 140px;
    height: 50px;
    background-color: green;
    color: white;
}