/* o corpo todo do projeto */
*{
    background-color: black;
}

/* caixa da imagem */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  /* referente ao tamanho da imagem */
  img {
    max-width: 100%;
    height: auto;
  }

/* link para outra pagina */
.button{
    opacity: 0;
    position: absolute;
    top: 414px;
    left: 560px;
    width: 140px;
    height: 50px;
    background-color: green;
    color: white;
}